
html, body {
    background-color: black;
}

.btn-outline-danger {
    /* float: right; */
    color: red;
}

.details-card {
    width: 80%;
    max-height: 80%;
}

.homepage h1 {
    color: #FCE520;
}

.overflow-scroll {
    overflow-y: hidden !important;
}

